/* style.css */

body {
    background-color: #f0f2f6;
}

.stApp {
    max-width: 800px;
    margin: auto;
    padding-top: 50px;
}

.stTextInput {
    margin-bottom: 20px;
}

.stButton button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.stButton button:hover {
    background-color: #7EC0EE; /* Darker sky blue on hover */
}

.chat-container {
    padding: 6px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.user-message {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    clear: both;
    float: left;
}

.bot-message {
    background-color: #f1f1f1;
    color: black;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    clear: both;
    float: right;
}
