/* style.css */

body {
    background-color: #f0f2f6;
}

.stApp {
    max-width: 100%;
    padding-top: 50px;
}

.stTextInput {
    margin-bottom: 20px;
}

.stButton button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.stButton button:hover {
    background-color: #7EC0EE;
}

.chat-container {
    background-color: white;
    padding: 6px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-message {
    background-color: rgba(0, 0, 255, 0.2); /* Transparent blue color */
    color: black;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 15px; /* Round border */
    clear: both;
    float: right;
    border: 1px solid black; /* Black border */
    text-align: center;
}

.bot-message {
    background-color: rgba(0, 0, 255, 0.2); /* Transparent blue color */
    color: black;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 15px; /* Round border */
    clear: both;
    float: left;
    border: 1px solid black; /* Black border */
}
